@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  font-family: "Figtree", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Figtree", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Figtree", sans-serif;
}

.content span {
  background: rgba(110, 36, 255, 0.05);
  border-radius: 35px;
  color: #6E24FF;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
}
.content h2 {
  color: var(--Text-Color, #0D0E10);
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-transform: capitalize;
}
.content p {
  color: #676879;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

@media (max-width: 992px) {
  .content span {
    font-size: 14px;
    font-weight: 400;
    padding: 8px 12px;
  }
  .content h2 {
    font-size: 30px;
    font-weight: 700;
  }
}
.active {
  background: #6e24ff;
  color: #fff;
}

.site-header {
  height: 90px !important;
}
.site-header .header .nav ul li {
  padding-top: 10px;
}
.site-header .header .nav ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.site-header .header .btns .primary_btn {
  border-radius: 25px;
  background: #fc4b3e;
  color: var(--white-100, #fff);
  text-align: center;
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  display: inline-block;
  padding: 16px 24px;
}
.site-header .header .btns .secondary_btn {
  border-radius: 25px;
  border: 1px solid var(--white-100, var(--white-100, #fff));
  color: var(--white-100, #fff);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  padding: 14px 24px;
}
.site-header .header .toggle-btn {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media (max-width: 992px) {
  .site-header .header .nav {
    background: #6e24ff;
    display: block !important;
    z-index: 99;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    display: none !important;
    height: 100vh;
  }
  .site-header .header .nav.show {
    display: block !important;
  }
  .site-header .header .nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    gap: 0px !important;
    padding: 50px 20px;
  }
  .site-header .header .nav .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px !important;
    margin-top: 10px;
  }
  .site-header .header .toggle-btn {
    display: block !important;
    z-index: 99;
  }
}
.Banner {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
.Banner .banner-right {
  top: 30%;
  width: 50% !important;
}
.Banner .banner-right .subheading {
  background: var(--Title-Liner, linear-gradient(92deg, rgba(255, 255, 255, 0.4) -119.44%, rgba(255, 255, 255, 0.1) 98.36%));
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 35px;
}
.Banner .banner-right h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
.Banner .banner-right p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.Banner .banner-right .primary {
  background: #fc4b3e;
  color: #fff;
  padding: 16px 24px;
  border-radius: 100px;
  border: none;
  font-size: 18px;
}
.Banner .banner-right .secondary {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  padding: 12px 24px;
  border-radius: 100px;
  font-size: 18px;
}
.Banner .banner-left {
  top: 19%;
}

@media (max-width: 992px) {
  .Banner .banner-right {
    top: 25%;
    width: 80% !important;
    line-height: 20px !important;
  }
  .Banner .banner-right h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .Banner .banner-right p {
    font-size: 16px;
    font-weight: 500;
  }
}
.container {
  overflow: hidden;
}
.container .slider {
  animation: slidein 15s linear infinite;
  white-space: nowrap;
}
.container .slider .logos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.rounded h4 {
  font-size: 20px;
  font-weight: 700;
  color: #0d0e10;
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.genaration {
  background: #e3eff5;
}
.genaration .tab {
  display: flex;
  align-items: center;
  justify-content: center;
}
.genaration .tab ul {
  background-color: #ffffff;
  border-radius: 100px;
  width: 75%;
  padding: 25px;
}
.genaration .tab ul li {
  color: #0d0e10;
  font-size: 16px;
  font-weight: 700;
  background: #f6f5fe;
  padding: 12px 24px;
  border-radius: 20px;
  margin: 0 16px 0 0;
  border: none !important;
  cursor: pointer;
  transition: 0.5s;
}
.genaration .tab-text-area {
  border-radius: var(--4, 4px);
  border: 1px solid rgba(86, 95, 118, 0.1);
  padding: 20px 16px;
  transition: 0.5s;
}
.genaration .tab-text-area:hover {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.genaration .tab-text-area .tab-icon {
  line-height: 84px;
  background: #e9deff;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.genaration .tab-text-area .tabs-text a {
  color: #0d0e10;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
  text-transform: capitalize;
}
.genaration .tab-text-area .tabs-text p {
  color: #676879;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

@media (max-width: 992px) {
  .genaration .tab ul {
    width: 150%;
    padding: 30px 40px;
    background-color: #fff !important;
  }
  .genaration .tab ul li a {
    font-size: 11px;
    font-weight: 600;
    padding: 12px 11px;
    margin: 2px !important;
  }
  .genaration .tab ul li a:hover {
    background: #6e24ff;
    color: #fff;
  }
  .genaration .tab ul li .active {
    background: #6e24ff;
    color: #fff;
  }
}
@media (max-width: 1092px) {
  .genaration {
    overflow: hidden !important;
  }
  .genaration .tab ul {
    width: 150%;
    padding: 30px 40px;
  }
}
@media (max-width: 776px) {
  .genaration .tab ul {
    width: 200%;
    padding: 30px 40px;
  }
}
@media (max-width: 576px) {
  .genaration .tab ul {
    width: 100%;
    padding: 30px 40px;
  }
  .genaration .tab ul li a {
    font-size: 11px;
    font-weight: 600;
    padding: 12px 11px;
    margin: 2px !important;
  }
  .genaration .tab ul li a:hover {
    background: #6e24ff;
    color: #fff;
  }
  .genaration .tab ul li .active {
    background: #6e24ff;
    color: #fff;
  }
}
.whychosse .service-box {
  background: #f7f9fa;
  margin-bottom: 30px;
  transition: all 0.4s ease-in-out;
  border-radius: 4px;
  padding: 15px;
}
.whychosse .service-box:hover {
  background: #fc4b3e;
}
.whychosse .service-box:hover .service-content a {
  color: #ffffff;
  /* Change link color on hover */
}
.whychosse .service-box:hover .service-content p {
  color: #ffffff;
  /* Change paragraph color on hover */
}
.whychosse .service-box:hover .service-content .readmore {
  color: #ffffff;
  /* Change readmore link color on hover */
}
.whychosse .service-box .service-icon,
.whychosse .service-box .service-icon2,
.whychosse .service-box .service-icon3 {
  background: #f8dfde;
  /* Set default background */
  height: 80px;
  width: 80px;
  text-align: center;
  border-radius: 50%;
  line-height: 80px;
  transition: all 0.4s ease-in-out;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whychosse .service-box .service-icon2 {
  background: #e9deff;
}
.whychosse .service-box .service-icon3 {
  background: #d6ebe7;
}
.whychosse .service-content a {
  color: #0d0e10;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 600;
  display: block;
}
.whychosse .service-content p {
  color: #676879;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 10px;
}
.whychosse .service-content .readmore {
  font-size: 16px;
  font-weight: 700;
  color: #0d0e10;
  line-height: 16px;
  margin-bottom: 0;
  margin-top: 24px;
  display: inline-block;
}

@media (max-width: 992px) {
  .whychosse {
    width: 100%;
    height: 210vh !important;
  }
}
@media (max-width: 768px) {
  .whychosse {
    width: 100%;
    height: 210vh !important;
  }
  .whychosse .service-box {
    padding: 10px;
  }
  .whychosse .service-box p {
    font-size: 14px;
    line-height: 24px;
  }
  .whychosse .service-box a {
    font-size: 18px;
  }
}
.Blog .blogs-content .blog-content {
  transition: 0.5s;
}
.Blog .blogs-content .blog-content:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Blog .blogs-content .blog-content .block-tags a {
  color: #676879;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}
.Blog .blogs-content .blog-content a {
  color: #0d0e10;
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
  text-transform: capitalize;
}

.footer {
  width: 100%;
  height: 120vh;
}
.footer .footer-content h2 {
  color: #FFF;
  margin-bottom: 20px;
  font-weight: 700;
}
.footer .footer-content span {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.footer .footer-content .footer-btn a {
  border-radius: 25px;
  background: #6E24FF;
  color: var(--white-100, #FFF);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  display: inline-block;
  padding: 16px 24px;
}
.footer .footer-last {
  background: #FFF;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(57.0340957642px);
  backdrop-filter: blur(57.0340957642px);
  padding: 50px 70px 28px 70px;
}

@media (max-width: 992px) {
  .footer .footer-content h2 {
    color: #FFF;
    font-weight: 500;
  }
  .footer .footer-content span {
    font-size: 20px;
    font-weight: 400;
  }
  .footer .footer-content .footer-btn a {
    font-size: 15px;
    font-weight: 700;
  }
}/*# sourceMappingURL=style.css.map */