@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  font-family: "Figtree", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Figtree", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Figtree", sans-serif;
}

.content span {
  background: rgba(110, 36, 255, 0.05);
  border-radius: 35px;
  color: #6E24FF;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
}
.content h2 {
  color: var(--Text-Color, #0D0E10);
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-transform: capitalize;
}

@media (max-width: 992px) {
  .content span {
    font-size: 14px;
    font-weight: 400;
    padding: 8px 12px;
  }
  .content h2 {
    font-size: 30px;
    font-weight: 700;
  }
}
.site-header .header .nav ul li {
  padding-top: 10px;
}
.site-header .header .nav ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.site-header .header .btns .primary_btn {
  border-radius: 25px;
  background: #fc4b3e;
  color: var(--white-100, #fff);
  text-align: center;
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  display: inline-block;
  padding: 16px 24px;
}
.site-header .header .btns .secondary_btn {
  border-radius: 25px;
  border: 1px solid var(--white-100, var(--white-100, #fff));
  color: var(--white-100, #fff);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  padding: 14px 24px;
}

@media (max-width: 992px) {
  .site-header .header .nav {
    display: none;
  }
  .site-header .header .nav ul li {
    padding-top: 10px;
  }
  .site-header .header .nav ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }
  .site-header .header .btns .primary_btn {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 24px;
  }
  .site-header .header .btns .secondary_btn {
    font-size: 16px;
    font-weight: 700;
    padding: 14px 24px;
  }
  .site-header .header .toggle-btn {
    display: block !important;
    font-size: 24px;
    color: #fff;
  }
  .nav.show {
    display: block;
  }
}
.Banner {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
.Banner .banner-right {
  top: 30%;
  width: 50% !important;
}
.Banner .banner-right .subheading {
  background: var(--Title-Liner, linear-gradient(92deg, rgba(255, 255, 255, 0.4) -119.44%, rgba(255, 255, 255, 0.1) 98.36%));
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 35px;
}
.Banner .banner-right h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
.Banner .banner-right p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.Banner .banner-right .primary {
  background: #fc4b3e;
  color: #fff;
  padding: 16px 24px;
  border-radius: 100px;
  border: none;
  font-size: 18px;
}
.Banner .banner-right .secondary {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  padding: 12px 24px;
  border-radius: 100px;
  font-size: 18px;
}
.Banner .banner-left {
  top: 19%;
}

@media (max-width: 992px) {
  .Banner .banner-right {
    top: 25%;
    width: 90% !important;
  }
  .Banner .banner-right h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .Banner .banner-right p {
    font-size: 16px;
    font-weight: 500;
  }
}
.container {
  overflow: hidden;
}
.container .slider {
  animation: slidein 15s linear infinite;
  white-space: nowrap;
}
.container .slider .logos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.rounded h4 {
  font-size: 20px;
  font-weight: 700;
  color: #0d0e10;
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.genaration {
  background: #e3eff5;
}
.genaration .tab {
  display: flex;
  align-items: center;
  justify-content: center;
}
.genaration .tab ul {
  background-color: #ffffff;
  border-radius: 100px;
  width: 75%;
  padding: 25px;
}
.genaration .tab ul li a {
  color: #0d0e10;
  font-size: 16px;
  font-weight: 700;
  background: #f6f5fe;
  padding: 12px 24px;
  border-radius: 20px;
  margin: 0 16px 0 0;
  border: none !important;
  cursor: pointer;
  transition: 0.5s;
}
.genaration .tab ul li a:hover {
  background: #6e24ff;
  color: #fff;
}
.genaration .tab ul li .active {
  background: #6e24ff;
  color: #fff;
}
.genaration .tab-text-area {
  border-radius: var(--4, 4px);
  border: 1px solid rgba(86, 95, 118, 0.1);
  padding: 20px 16px;
  transition: 0.5s;
}
.genaration .tab-text-area:hover {
  background-color: #FFf;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.genaration .tab-text-area .tab-icon {
  line-height: 84px;
  background: #e9deff;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.genaration .tab-text-area .tabs-text a {
  color: #0d0e10;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
  text-transform: capitalize;
}
.genaration .tab-text-area .tabs-text p {
  color: #676879;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

@media (max-width: 992px) {
  .genaration .tab ul {
    width: 150%;
    padding: 30px 40px;
    background: none !important;
  }
  .genaration .tab ul li a {
    font-size: 11px;
    font-weight: 600;
    padding: 12px 11px;
    margin: 2px !important;
  }
  .genaration .tab ul li a:hover {
    background: #6e24ff;
    color: #fff;
  }
  .genaration .tab ul li .active {
    background: #6e24ff;
    color: #fff;
  }
}
@media (max-width: 1092px) {
  .genaration {
    overflow: hidden !important;
  }
  .genaration .tab ul {
    width: 150%;
    padding: 30px 40px;
    background: none !important;
  }
}
@media (max-width: 776px) {
  .genaration .tab ul {
    width: 200%;
    padding: 30px 40px;
    background: none !important;
  }
}
@media (max-width: 576px) {
  .genaration .tab ul {
    width: 100%;
    padding: 30px 40px;
    background: none !important;
  }
  .genaration .tab ul li a {
    font-size: 11px;
    font-weight: 600;
    padding: 12px 11px;
    margin: 2px !important;
  }
  .genaration .tab ul li a:hover {
    background: #6e24ff;
    color: #fff;
  }
  .genaration .tab ul li .active {
    background: #6e24ff;
    color: #fff;
  }
}/*# sourceMappingURL=style.css.map */