@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  font-family: "Figtree", sans-serif;
  cursor: copy;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Figtree", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Figtree", sans-serif;
}

.content {
  span {
    background: rgba(110, 36, 255, 0.05);
    border-radius: 35px;
    color: #6E24FF;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
  }
  h2 {
    color: var(--Text-Color, #0D0E10);
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-transform: capitalize;
  }
}

@media (max-width:992px) {
  
.content {
  span {
    font-size: 14px;
    font-weight: 400;
    padding: 8px 12px;
  }
  h2 {
    font-size: 30px;
    font-weight: 700;
  }
}
}