// Header
.site-header {
    height: 90px !important;
}

.header {
    .logo {
        img {
            z-index: 99;
        }
    }

    .nav {
        ul {
            display: flex;
            gap: 20px;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding-top: 10px;

                a {
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        .btns {
            display: flex;
            gap: 20px;

            .primary_btn {
                border-radius: 25px;
                background: #fc4b3e;
                color: var(--white-100, #fff);
                text-align: center;
                font-family: "Figtree", sans-serif;
                font-size: 16px;
                font-weight: 700;
                line-height: 16px;
                display: inline-block;
                padding: 16px 24px;
            }

            .secondary_btn {
                border-radius: 25px;
                border: 1px solid var(--white-100, var(--white-100, #fff));
                color: var(--white-100, #fff);
                font-size: 16px;
                font-weight: 700;
                line-height: 16px;
                padding: 14px 24px;
            }
        }

        display: flex;
        align-items: center;
        gap: 20px;
    }

    .toggle-btn {
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
        color: #fff;
        display: none;
        z-index: 99;
    }
}

@media (max-width: 992px) {
    .site-header {
        .header {
            .logo {
                position: static;

                img {
                    z-index: 99;
                }
            }

            .nav {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100vh;
                background: #6e24ff;
                z-index: 99;
                padding-top: 90px;

                ul {
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                }

                .btns {
                    flex-direction: column;
                    gap: 10px;
                    margin-top: 20px;
                }

                &.show {
                    display: flex;
                }
            }

            .toggle-btn {
                display: block;
            }
        }
    }
}

// Banner
.Banner {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;

    .banner-right {
        top: 30%;
        width: 50% !important;

        .subheading {
            background: var(--Title-Liner,
                    linear-gradient(92deg, rgba(255, 255, 255, 0.4) -119.44%, rgba(255, 255, 255, 0.1) 98.36%));
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            padding: 8px 12px;
            border-radius: 35px;
        }

        h1 {
            font-size: 60px;
            font-weight: 700;
            color: #fff;
        }

        p {
            font-size: 18px;
            font-weight: 500;
            color: #fff;
        }

        .primary {
            background: #fc4b3e;
            color: #fff;
            padding: 16px 24px;
            border-radius: 100px;
            border: none;
            font-size: 18px;
        }

        .secondary {
            border: 1px solid #fff;
            color: #fff;
            background: transparent;
            padding: 12px 24px;
            border-radius: 100px;
            font-size: 18px;
        }
    }

    .banner-left {
        top: 19%;
    }
}

@media (max-width: 992px) {
    .Banner {
        .banner-right {
            top: 25%;
            width: 80% !important;
            line-height: 20px !important;

            h1 {
                font-size: 40px;
                font-weight: 700;
            }

            p {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}

// Brands
.container {
    overflow: hidden;

    .slider {
        animation: slidein 15s linear infinite;
        white-space: nowrap;

        .logos {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
        }
    }
}

.rounded {
    h4 {
        font-size: 20px;
        font-weight: 700;
        color: #0d0e10;
    }
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

//   Generation
.genaration {
    background: #e3eff5;

    .tab {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            background-color: #ffffff;
            border-radius: 100px;
            width: 75%;
            padding: 25px;

            li {
                color: #0d0e10;
                font-size: 16px;
                font-weight: 700;
                background: #f6f5fe;
                padding: 12px 24px;
                border-radius: 20px;
                margin: 0 16px 0 0;
                border: none !important;
                cursor: pointer;
                transition: 0.5s;
            }
        }
    }

    .tab-text-area {
        border-radius: var(--4, 4px);
        border: 1px solid rgba(86, 95, 118, 0.1);
        padding: 20px 16px;
        transition: 0.5s;

        &:hover {
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .tab-icon {
            line-height: 84px;
            background: #e9deff;
            border-radius: 50%;
            object-fit: cover;
        }

        .tabs-text {
            a {
                color: #0d0e10;
                font-size: 20px;
                font-weight: 600;
                line-height: 20px;
                margin-bottom: 12px;
                text-transform: capitalize;
            }

            p {
                color: #676879;
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;
            }
        }
    }
}

@media (max-width: 992px) {
    .genaration {
        .tab {
            ul {
                background-color: none !important;

                li {
                    a {
                        font-size: 11px;
                        font-weight: 600;
                        padding: 12px 11px;
                        margin: 1px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 1092px) {
    .genaration {
        .tab {
            ul {
                background: none !important;
            }
        }
    }
}

@media (max-width: 776px) {
    .genaration {
        .tab {
            ul {
                width: 200%;
                background: none !important;
            }
        }
    }
}

@media (max-width: 576px) {
    .genaration {
        .tab {
            ul {
                width: 100%;
                padding: 30px 40px;

                li {
                    a {
                        font-size: 11px;
                        font-weight: 600;
                        padding: 12px 11px;
                        margin: 2px !important;

                        &:hover {
                            background: #6e24ff;
                            color: #fff;
                        }
                    }

                    .active {
                        background: #6e24ff;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// why chose us
.whychosse {
    .service-box {
        background: #f7f9fa;
        margin-bottom: 30px;
        transition: all 0.4s ease-in-out;
        border-radius: 4px;
        padding: 15px;

        &:hover {
            background: #fc4b3e;

            .service-content a {
                color: #ffffff;
                /* Change link color on hover */
            }

            .service-content p {
                color: #ffffff;
                /* Change paragraph color on hover */
            }

            .service-content .readmore {
                color: #ffffff;
                /* Change readmore link color on hover */
            }
        }

        .service-icon,
        .service-icon2,
        .service-icon3 {
            background: #f8dfde;
            /* Set default background */
            height: 80px;
            width: 80px;
            text-align: center;
            border-radius: 50%;
            line-height: 80px;
            transition: all 0.4s ease-in-out;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .service-icon2 {
            background: #e9deff;
        }

        .service-icon3 {
            background: #d6ebe7;
        }
    }

    .service-content {
        a {
            color: #0d0e10;
            text-align: center;
            text-overflow: ellipsis;
            font-size: 20px;
            font-weight: 600;
            display: block;
        }

        p {
            color: #676879;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            margin-top: 10px;
        }

        .readmore {
            font-size: 16px;
            font-weight: 700;
            color: #0d0e10;
            line-height: 16px;
            margin-bottom: 0;
            margin-top: 24px;
            display: inline-block;
        }
    }
}

@media (max-width: 992px) {
    .whychosse {
        width: 100%;
        height: 170vh !important;
    }
}

@media (max-width: 768px) {
    .whychosse {
        width: 100%;
        height: 200vh !important;

        .service-box {
            padding: 10px;

            p {
                font-size: 14px;
                line-height: 24px;
            }

            a {
                font-size: 18px;
            }
        }
    }
}

// Blog
.Blog {
    background: #F7F9FA;
    .blogs-content {
        .blog-content {
            transition: 0.5s;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }

            .block-tags {
                a {
                    color: #676879;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 14px;
                }
            }

            a {
                color: #0d0e10;
                font-size: 18px;
                font-weight: 600;
                margin-top: 16px;
                text-transform: capitalize;
            }
        }
    }
}

// Footer
/*============= FOOTER CSS AREA ===============*/
.footer-section-area {
    padding: 0 0 28px 0;
}

.footer-section-area .footer-elements {
    position: absolute;
    top: 0;
    left: 22%;
    right: 22%;
    z-index: -1;
}

@media (max-width: 767px) {
    .footer-section-area .footer-header {
        padding: 40px 0 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-section-area .footer-header {
        padding: 40px 0 40px;
    }
}

.footer-section-area .footer-header h2 {
    color: var(--white-100, #FFF);
    margin-bottom: 20px;
    font-family: "Figtree", sans-serif !important;
}

.footer-section-area .footer-header span {
    color: var(--white-100, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

.footer-section-area .footer-header span img {
    margin: 0 16px;
}

.footer-section-area .footer-header .header-btn {
    margin-top: 32px;
}

.footer-section-area .footer-last-section {
    background: var(--white-10, rgba(255, 255, 255, 0.1));
    border-radius: var(--4, 4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(57.0340957642px);
    backdrop-filter: blur(57.0340957642px);
    padding: 50px 70px 28px 70px;
}

@media (max-width: 767px) {
    .footer-section-area .footer-last-section {
        padding: 30px;
    }
}

@media (max-width: 767px) {
    .footer-section-area .footer-last-section .footer-auhtor-area {
        margin-bottom: 30px;
    }
}

.footer-section-area .footer-last-section .footer-auhtor-area h3 {
    color: var(--white-100, #FFF);
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.footer-section-area .footer-last-section .footer-auhtor-area p {
    color: #BDBDC5;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 24px;
}

.footer-section-area .footer-last-section .footer-auhtor-area ul {
    margin-bottom: 24px;
}

.footer-section-area .footer-last-section .footer-auhtor-area ul li a {
    color: #BDBDC5;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 24px;
}

.footer-section-area .footer-last-section .footer-auhtor-area ul li a:hover {
    color: var(--white-100, #FFF);
    padding-left: 5px;
}

.footer-section-area .footer-last-section .footer-auhtor-area ul.social-links li {
    margin: 0 6px 0 0;
}

.footer-section-area .footer-last-section .footer-auhtor-area ul.social-links li::after {
    display: none;
}

.footer-section-area .footer-last-section .footer-auhtor-area ul.social-links li a {
    height: 32px;
    width: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    color: var(--Text-Color, #0D0E10);
    background: #F6F5FE;
    font-size: 14px;
}

.footer-section-area .footer-last-section .footer-auhtor-area ul.social-links li a:hover {
    background: #433CE7;
    color: var(--white-100, #FFF);
    padding-left: 0;
    transform: translateY(-3px);
}

.footer-section-area .footer-last-section .copyright-social-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #505065;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-section-area .footer-last-section .copyright-social-area {
        display: inline-block;
    }
}

@media (max-width: 767px) {
    .footer-section-area .footer-last-section .copyright-social-area {
        display: inline-block;
    }
}

.footer-section-area .footer-last-section .copyright-social-area ul li {
    display: inline-block;
    position: relative;
    margin: 0 20px 0 0;
}

.footer-section-area .footer-last-section .copyright-social-area ul li::after {
    position: absolute;
    content: "";
    height: 12px;
    width: 1px;
    background: #505065;
    right: -13px;
    top: 10px;
}

.footer-section-area .footer-last-section .copyright-social-area ul li p {
    color: #BDBDC5;
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    display: inline-block;
}

.footer-section-area .footer-last-section .copyright-social-area ul li a {
    color: #BDBDC5;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    position: relative;
    z-index: 1;
}

.footer-section-area .footer-last-section .copyright-social-area ul .copy::after {
    display: none;
}

.footer-section-area .footer-last-section .copyright-social-area ul .terms::after {
    display: none;
}

.footer2-section-area {
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0 0 80px 0;
}

@media (max-width: 767px) {
    .footer2-section-area {
        padding: 0 0 30px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer2-section-area {
        padding: 0 0 30px 0;
    }
}

@media (max-width: 767px) {
    .footer2-section-area .footer-header {
        padding: 40px 0 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer2-section-area .footer-header {
        padding: 40px 0 40px;
    }
}

.footer2-section-area .footer-header h2 {
    color: var(--white-100, #FFF);
    margin-bottom: 20px;
    font-weight: 700;
}

.footer2-section-area .footer-header span {
    color: var(--white-100, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

.footer2-section-area .footer-header span img {
    margin: 0 16px;
}

.footer2-section-area .footer-header .header-btn2 {
    margin-top: 32px;
    background: #6E24FF;
}

.footer2-section-area .footer2-last-section {
    background: var(--white-100, #FFF);
    border-radius: var(--4, 4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(57.0340957642px);
    backdrop-filter: blur(57.0340957642px);
    padding: 50px 70px 28px 70px;
}

@media (max-width: 767px) {
    .footer2-section-area .footer2-last-section {
        padding: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer2-section-area .footer2-last-section {
        padding: 30px;
    }
}

@media (max-width: 767px) {
    .footer2-section-area .footer2-last-section .footer-auhtor-area {
        margin-bottom: 30px;
    }
}

.footer2-section-area .footer2-last-section .footer-auhtor-area h3 {
    color: var(--Text-Color, #0D0E10);
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.footer2-section-area .footer2-last-section .footer-auhtor-area p {
    color: #676879;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 24px;
}

.footer2-section-area .footer2-last-section .footer-auhtor-area ul {
    margin-bottom: 24px;
}

.footer2-section-area .footer2-last-section .footer-auhtor-area ul li a {
    color: #676879;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    display: inline-block;
    margin-top: 24px;
}

.footer2-section-area .footer2-last-section .footer-auhtor-area ul li a:hover {
    color: #6E24FF;
    transition: all 0.4s ease-in-out;
    padding-left: 5px;
}

.footer2-section-area .footer2-last-section .footer-auhtor-area ul.social-links li {
    display: inline-block;
    margin: 0 6px 0 0;
}

.footer2-section-area .footer2-last-section .footer-auhtor-area ul.social-links li::after {
    display: none;
}

.footer2-section-area .footer2-last-section .footer-auhtor-area ul.social-links li a {
    height: 32px;
    width: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    color: var(--Text-Color, #0D0E10);
    background: #F6F5FE;
    font-size: 16px;
}

.footer2-section-area .footer2-last-section .footer-auhtor-area ul.social-links li a:hover {
    background: #6E24FF;
    color: var(--white-100, #FFF);
    padding-left: 0;
    transform: translateY(-3px);
}

.footer2-section-area .footer2-last-section .copyright-social-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #CFCFCF;
}

@media (max-width: 767px) {
    .footer2-section-area .footer2-last-section .copyright-social-area {
        display: inline-block;
    }
}

.footer2-section-area .footer2-last-section .copyright-social-area ul li {
    display: inline-block;
    position: relative;
    margin: 0 20px 0 0;
}

.footer2-section-area .footer2-last-section .copyright-social-area ul li::after {
    position: absolute;
    content: "";
    height: 12px;
    width: 1px;
    background: #DDDDDD;
    right: -13px;
    top: 10px;
}

.footer2-section-area .footer2-last-section .copyright-social-area ul li p {
    color: #676879;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}

.footer2-section-area .footer2-last-section .copyright-social-area ul li a {
    color: #676879;
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.footer2-section-area .footer2-last-section .copyright-social-area ul .terms::after {
    display: none;
}

.footer2-section-area .footer2-last-section .copyright-social-area ul .copy::after {
    display: none;
}

.footer3-section-area {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.footer3-section-area .footer-header h2 {
    color: var(--white-100, #FFF);
    margin-bottom: 20px;
    font-weight: 700;
}

.footer3-section-area .footer-header span {
    color: var(--white-100, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

.footer3-section-area .footer-header span img {
    margin: 0 16px;
}

.footer3-section-area .footer-header .header-btn2 {
    margin-top: 32px;
}

.footer3-section-area .footer2-last-section {
    background: var(--white-100, #FFF);
    border-radius: var(--4, 4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(57.0340957642px);
    backdrop-filter: blur(57.0340957642px);
    padding: 80px 0 24px 0;
}

@media (max-width: 767px) {
    .footer3-section-area .footer2-last-section {
        padding: 40px 0 24px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer3-section-area .footer2-last-section {
        padding: 40px 0 24px 0;
    }
}

