// Header
.site-header {
    height: 90px !important;
    .header {
        .nav {
            ul {
                li {
                    padding-top: 10px;

                    a {
                        font-size: 16px;
                        font-weight: 500;
                        color: #fff;
                    }
                }
            }
        }

        .btns {
            .primary_btn {
                border-radius: 25px;
                background: #fc4b3e;
                color: var(--white-100, #fff);
                text-align: center;
                font-family: "Figtree", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                display: inline-block;
                padding: 16px 24px;
            }

            .secondary_btn {
                border-radius: 25px;
                border: 1px solid var(--white-100, var(--white-100, #fff));
                color: var(--white-100, #fff);
                font-size: 16px;
                font-weight: 700;
                line-height: 16px;
                padding: 14px 24px;
            }
        }

        .toggle-btn {
            font-size: 24px;
            font-weight: 700;
            cursor: pointer;
            color: #FFf;
            display: none;
        }
    }
}

// Mobile version
@media (max-width:992px) {
    .site-header {
        .header {
            .nav {
                background: #6E24FF;
                display: block !important;
                z-index: 99;
                position: absolute;
                top: 0;
                right: 0;
                width: 60%;
                display: none !important;

                &.show {
                    display: block !important;
                }

                height: 100vh;

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    z-index: 99;
                    gap: 0px !important;
                    padding: 50px 20px;
                }

                .btns {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 0px !important;
                    margin-top: 10px;
                }
            }

            .toggle-btn {
                display: block !important;
                z-index: 99;
            }
        }
    }
}
// Banner
.Banner {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;

    .banner-right {
        top: 30%;
        width: 50% !important;

        .subheading {
            background: var(--Title-Liner,
                    linear-gradient(92deg, rgba(255, 255, 255, 0.4) -119.44%, rgba(255, 255, 255, 0.1) 98.36%));
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            padding: 8px 12px;
            border-radius: 35px;
        }

        h1 {
            font-size: 60px;
            font-weight: 700;
            color: #fff;
        }

        p {
            font-size: 18px;
            font-weight: 500;
            color: #fff;
        }

        .primary {
            background: #fc4b3e;
            color: #fff;
            padding: 16px 24px;
            border-radius: 100px;
            border: none;
            font-size: 18px;
        }

        .secondary {
            border: 1px solid #fff;
            color: #fff;
            background: transparent;
            padding: 12px 24px;
            border-radius: 100px;
            font-size: 18px;
        }
    }

    .banner-left {
        top: 19%;
    }
}
@media (max-width: 992px) {
    .Banner {
        .banner-right {
            top: 25%;
            width: 80% !important;
            line-height: 20px !important;

            h1 {
                font-size: 40px;
                font-weight: 700;
            }

            p {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}
// Brands
.container {
    overflow: hidden;

    .slider {
        animation: slidein 15s linear infinite;
        white-space: nowrap;

        .logos {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
        }
    }
}

.rounded {
    h4 {
        font-size: 20px;
        font-weight: 700;
        color: #0d0e10;
    }
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
//   Generation
.genaration {
    background: #e3eff5;

    .tab {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            background-color: #ffffff;
            border-radius: 100px;
            width: 75%;
            padding: 25px;

            li {
                color: #0d0e10;
                font-size: 16px;
                font-weight: 700;
                background: #f6f5fe;
                padding: 12px 24px;
                border-radius: 20px;
                margin: 0 16px 0 0;
                border: none !important;
                cursor: pointer;
                transition: 0.5s;
            }
        }
    }

    .tab-text-area {
        border-radius: var(--4, 4px);
        border: 1px solid rgba(86, 95, 118, 0.1);
        padding: 20px 16px;
        transition: 0.5s;

        &:hover {
            background-color: #FFf;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .tab-icon {
            line-height: 84px;
            background: #e9deff;
            border-radius: 50%;
            object-fit: cover;
        }

        .tabs-text {
            a {
                color: #0d0e10;
                font-size: 20px;
                font-weight: 600;
                line-height: 20px;
                margin-bottom: 12px;
                text-transform: capitalize;
            }

            p {
                color: #676879;
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;
            }
        }
    }
}
@media (max-width: 992px) {
    .genaration {
        .tab {
            ul {
                width: 150%;
                padding: 30px 40px;
                background-color: #fff !important;

                li {
                    a {
                        font-size: 11px;
                        font-weight: 600;
                        padding: 12px 11px;
                        margin: 2px !important;

                        &:hover {
                            background: #6e24ff;
                            color: #fff;
                        }
                    }

                    .active {
                        background: #6e24ff;
                        color: #fff;
                    }
                }
            }
        }
    }
}
@media (max-width: 1092px) {
    .genaration {
        overflow: hidden !important;

        .tab {
            ul {
                width: 150%;
                padding: 30px 40px;
            }
        }
    }
}
@media (max-width: 776px) {
    .genaration {
        .tab {
            ul {
                width: 200%;
                padding: 30px 40px;
            }
        }
    }
}
@media (max-width: 576px) {
    .genaration {
        .tab {
            ul {
                width: 100%;
                padding: 30px 40px;

                li {
                    a {
                        font-size: 11px;
                        font-weight: 600;
                        padding: 12px 11px;
                        margin: 2px !important;

                        &:hover {
                            background: #6e24ff;
                            color: #fff;
                        }
                    }

                    .active {
                        background: #6e24ff;
                        color: #fff;
                    }
                }
            }
        }
    }
}
// why chose us
.whychosse {
    .service-box {
        background: #F7F9FA;
        margin-bottom: 30px;
        transition: all 0.4s ease-in-out;
        border-radius: 4px;
        padding: 15px;

        &:hover {
            background: #FC4B3E;

            .service-content a {
                color: #FFFFFF;
                /* Change link color on hover */
            }

            .service-content p {
                color: #FFFFFF;
                /* Change paragraph color on hover */
            }

            .service-content .readmore {
                color: #FFFFFF;
                /* Change readmore link color on hover */
            }
        }

        .service-icon,
        .service-icon2,
        .service-icon3 {
            background: #F8DFDE;
            /* Set default background */
            height: 80px;
            width: 80px;
            text-align: center;
            border-radius: 50%;
            line-height: 80px;
            transition: all 0.4s ease-in-out;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .service-icon2 {
            background: #E9DEFF;
        }

        .service-icon3 {
            background: #D6EBE7;
        }
    }

    .service-content {
        a {
            color: #0D0E10;
            text-align: center;
            text-overflow: ellipsis;
            font-size: 20px;
            font-weight: 600;
            display: block;
        }

        p {
            color: #676879;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            margin-top: 10px;
        }

        .readmore {
            font-size: 16px;
            font-weight: 700;
            color: #0D0E10;
            line-height: 16px;
            margin-bottom: 0;
            margin-top: 24px;
            display: inline-block;
        }
    }
}
/* Media queries for better responsiveness */
@media (max-width: 768px) {
    .whychosse {
        width: 100%;
        height: 210vh !important;
        .service-box {
            padding: 10px;
            p {
                font-size: 14px;
                line-height: 24px;
            }

            a {
                font-size: 18px;

            }
        }
    }
}

